name: CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: shinonomeri   # твой логин целиком в нижнем регистре
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/lib-backend:latest
          docker build -t $IMAGE ./backend
          docker push $IMAGE

      - name: Build and push frontend image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/lib-frontend:latest
          docker build -t $IMAGE ./frontend
          docker push $IMAGE

      - name: Build and push reverse-proxy image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/lib-proxy:latest
          docker build -t $IMAGE ./reverse-proxy
          docker push $IMAGE
